.facture{
    margin-top: 75px;
}

.example-full-width{
    margin-right: 10px;
}

.form-field {
    margin: 0 8px 16px 0;
}

table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
    color: black;
}

.boutton_recherche{
    border-color: aliceblue;
    background-color: alpha($color: #0077ff) !important;
}
.form{
    min-width: 150px;
    max-width: 500px;
    margin-right: 25px;
    width: 100%;
}

.dateWidt{
    width: 170px;
    margin-right: 25px;
}
.entreDate{
    margin-left: 13%;
}
.ex-container {
    position: relative;
  }
  
  .ex-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  }

  .ex-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.error-label{
    font-family: Open Sans, sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
    color: red;
}