<div class="form-group facture"></div>

<form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
  <mat-card style="background-color: rgb(51, 120, 167);" class="example-card">
    <mat-card-header>
      <mat-card-title>Ajouter facture</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="nom" #nom="ngModel" name="nom" [(ngModel)]="facture.client.nom">
        <mat-error *ngIf="nom.hasError('required')">
          Non <strong>obligatoir</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Prenom</mat-label>
        <input matInput placeholder="prenom" required #prenom="ngModel" name="prenom"
          [(ngModel)]="facture.client.prenom">
        <mat-error *ngIf="prenom.hasError('required')">
          Prénom <strong>obligatoir</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Numero</mat-label>
        <input matInput placeholder="Numero" required type="number" #numero="ngModel" name="numero"
          [(ngModel)]="facture.client.numero">
        <mat-error *ngIf="numero.hasError('required')">
          Numéro <strong>obligatoir</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Montant</mat-label>
        <input matInput placeholder="Montant" required type="number" #montant="ngModel" name="montant"
          [(ngModel)]="facture.montant">
        <mat-error *ngIf="montant.hasError('required')">
          Montant <strong>obligatoir</strong>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Ajouter</button>
    </mat-card-content>
  </mat-card>
</form>


<br>
<mat-card style="background-color: rgb(51, 120, 167);" class="example-card">
  <mat-card-header>
    <mat-card-title>Recherche</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="form" appearance="fill">
      <mat-label>Veuillez insérer le numéro, nom ou prénom du client</mat-label>
      <input matInput placeholder="Veuillez insérer le numéro, nom ou prénom du client" name="recherche"
        [(ngModel)]="recherche">
    </mat-form-field>
    <button mat-raised-button color="primary" class="boutton_recherche" (click)="onFind()">Rechercher</button>
  </mat-card-content>
</mat-card>

<br>
<mat-card style="background-color: rgb(127, 161, 184);" class="example-card">
  <mat-card-header>
    <mat-card-title>Liste de facture</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <label class="entreDate">Liste des factures entre deux dates</label><br>
  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile>
      <mat-form-field class="dateWidt" appearance="fill">
        <mat-label>Entre date</mat-label>
        <input matInput disabled [matDatepicker]="picker" [(ngModel)]="date1" (dateChange)="addDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
      <span>à</span>
      <mat-form-field class="dateWidt" style="margin-left: 25px;" appearance="fill">
        <mat-label>Entre date</mat-label>
        <input matInput disabled [matDatepicker]="picker2" (dateChange)="addDate2($event)">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="form" appearance="fill">
        <mat-label>Veuillez enter numero de facture suprimer</mat-label>
        <input matInput type="number" placeholder="Numero" name="numFacture" [(ngModel)]="numFacture">
        <div *ngIf="isNumFacture" class="error-label offset-sm-4">
          <div *ngIf="isNumFacture"> Numero de facture obligatoire</div>
        </div>
      </mat-form-field>
      <button mat-raised-button (click)="openDialog()" color="warn">Supprimer</button>
    </mat-grid-tile>
  </mat-grid-list>


  <mat-card-content>
    <div class="ex-loading-shade" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
      <div class="ex-rate-limit-reached"></div>
    </div>
    <table mat-table [dataSource]="dataTable"  matSort class="mat-elevation-z8" *ngIf="!isLoading">

      <ng-container matColumnDef="date_create">
        <th mat-header-cell *matHeaderCellDef (click)="sortChange()" mat-sort-header sortActionDescription="Trier par Date">Date</th>
        <td mat-cell *matCellDef="let element"> {{element.date_create | dateMoment}} </td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef (click)="sortChange()" mat-sort-header sortActionDescription="Trier par nom">Nom</th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>

      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef (click)="sortChange()" mat-sort-header sortActionDescription="Trier par prenom">Prenom</th>
        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
      </ng-container>

      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef (click)="sortChange()" mat-sort-header sortActionDescription="Trier par numéro">Numero</th>
        <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
      </ng-container>

      <ng-container matColumnDef="montant">
        <th mat-header-cell *matHeaderCellDef (click)="sortChange()" mat-sort-header sortActionDescription="Trier par montant">Montant</th>
        <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
<br>

<!-- (ngModelChange)="numTelChanged($event)" -->