<h1 mat-dialog-title>Voulez vous vraiment supprimer?</h1>
<div mat-dialog-content>
  <h3>le facture N° {{data.numero}}</h3>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Non</button>
  <button mat-button [mat-dialog-close]="data.numero" cdkFocusInitial>Oui</button>
</div>