.footer{
     background-color: rgb(161, 161, 161); 
     background-repeat: no-repeat; 
     width: 100%;
     height: 75px;
     
     display: block;
   }
   
     h1,
     h2,
     h3,
     h4,
     h5,
     h6 {
       margin: 8px 0;
     } 
   
   .marginleft{
     margin-left: 8%;
   }